.swiperFadeinAnimation{
    @keyframes fadeInLeftToRight {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fadeInRightToLeft {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .swiper-slide .slideContent {
        display: none;
        position: absolute;
        bottom: 5%;
        left: 5%;
        right: 5%;
        width: 90%;
        z-index: 1;
        color: #fff;
        &.Left{
            animation: fadeInLeftToRight 1s ease forwards;
        }
        &.Right{
            animation: fadeInRightToLeft 1s ease forwards;
        }
        &.Up{
            animation: fadeInUp 1s ease forwards;
        }
        &.Down{
            animation: fadeInDown 1s ease forwards;
        }
    }
    .swiper-slide-active .slideContent {
        display: block;
    }
}