.svgMap {
    g{
        filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.5));
    }
    svg {
        a {
            .secondBg{
                opacity: 0;
                transition: 0.6s;
            }
            &:hover {
                .secondBg{
                    opacity: 1;
                }
            }
        }
    }
}